@import "reset";
@import "variables";
@import "mixins";

body{
	overflow-x:hidden;
}
// navagation

nav button{
	position:relative;
	margin-left:2rem;
	margin-bottom:1rem;
}

ul li a {
    color: #fff !important;
    font-size: 1rem;
    padding:2rem;
}

 ul li a:hover{
    	color:lightblue !important;
    	text-decoration:none;
    }

body, html{
	height:100%;
	font-size: 16px;
	font-family:"Lato", sans-serif;
	font-weight:400;
	line-height:1.8rem;
	color:#666;
	padding:0;
	margin:0;
	box-sizing:border-box;
}


.header{
	position:relative;
	width:100vw;
	height:50vh;
	padding:0;

	p{
	position:absolute;
	top:7rem;
	font-weight:400;
	font-size:3rem;
	left:50%;
	transform:translate(-50%);
	-webkit-transform:translate(-50%);
	}

#bottom-of-header{
	position:relative;
	height:50vh;
	background:lightblue;
	text-align:center;
}

#headshot {
	position:absolute;
	z-index: 2;
	top:0;
	left:50%;
	border-radius: 100px;
	transform:translate(-50%, -50%);
	-webkit-transform:translate(-50%, -50%);
}

	h2{
	position:relative;
	top: 40%;
	text-align: center;
}

}

#overlay-color{
	background-color:rgba( 0, 0, 0, 0.5);
	background-size:cover;
	bottom:0;
	height:100vh;
	width:100%;
	z-index:2;
}

#overlay-text{

	p{
		position:absolute;
		text-align:center;
		color:#fff;
		top:14rem;
		font-size:2.5rem;
		padding:0 10rem;
	}
}

#sky-line-photo{
	position:relative;
	background-image: url('../img/sky-line - Copy.jpg');
	background-position:center;
	background-size:cover;
	background-repeat: no-repeat;
	height:100vh;
	width:100%;
	background-attachment:fixed;
	z-index:-1;
}

.public-relations{
	position:relative;
	text-align:center;
	padding:20px;
	color:$blackText;

	h2{
	padding-top:30px;
	padding-bottom:30px;
	}

	p{
	font-size: 1.2rem;
	padding:0 20px 0 20px;

	}

}






#fox-32-sec{
	margin-top: 50px;
	margin-bottom:25px;
	background:lightblue;
	height: 100vh;

	#akilah{
	background:#fff;
	padding:10px;
	box-shadow: 10px 5px 10px 5px;
	height: 14rem;
	margin-top: 12rem;

	 h4{
	position:absolute;

	}

	 p{
	position:absolute;
	margin-top:3rem;
	font-size: 1.5rem;
	}
}

	#fox-32-photo{
	background-image: url('../img/akilah-on-fox.jpg');
	background-position:center;
	background-size:contain;
	background-repeat: no-repeat;
	margin-top: 70px;
	height:80vh;
	}
}

#windy-city-sec{
	
	p{
		font-size:20px;
	}

	#securing{
	box-shadow: 5px 10px;
}

#windy-city-photo{
	background-image: url('../img/drwellson-wcl.jpg');
	background-position:center;
	background-size:contain;
	background-repeat: no-repeat;
	height:55vh;
}

.windy-city-text{	
	box-shadow: 5px 10px;
	background:lightblue;
	height: 15rem;
	top:11rem;
}



#securing h4{
	font-style:italic;
	background:lightblue;
	margin-top: 1rem;
	margin-bottom:2rem;
	padding:10px;
	color:#fff;
}

#dr-wells{
	padding-top: 10%;

}
}


.channel-7{
	margin-top:7rem;
	height:100vh;

	#abc-7-photo{
	background-image: url('../img/sherri-anvil-slide712_orig.jpg');
	background-position:center;
	background-size:contain;
	background-repeat: no-repeat;
	height:90vh;
}

.channel-7-text{
	background-color:lightblue;
	height:80vh;
	width: 17rem;
	margin-top: 1.5rem;

}

.channel-7-text h2{

	padding-top:1rem;
	text-transform:capitalize;
	width:15rem;
	padding-left:1rem;
}

.channel-7-text p{
	margin-top:1rem;
	font-size: 1.295rem;
	position:relative;
	width:15rem;
	padding-left:1rem;
}
}



.myportfolio{
	
		position:relative;

	h1{
		text-align:center;
		padding:10px;
		background-color:lightblue;
		margin-bottom:0;
	}

	#capture-photo{
	position:relative;
	background-image: url('../img/Capture.jpg');
	background-position:center;
	background-size:cover;
	background-repeat: no-repeat;
	height:100vh;
	width:100%;
	}
}

//****************************mywork****************************

.mywork{
	position:relative;
	top: 10rem;

	#bird-photo{
		margin-right:0;
		margin-left:20rem;
	}


	p{
		text-align:left;
		margin-left:20rem;
		margin-top: 4rem;
	}
}

.mywork2{
	
	position:relative;
	top: 20rem;
	margin-bottom:20rem;
}

.mywork3{
	position:relative;

	#mywork3-photo{
		margin-top:20rem;
	}

	p{
		margin-top:32rem;
	}
}

.mywork4{
	
	margin-top:20rem;

	p{
		margin-top:10rem;
		margin-left:16rem;
	}
}

.mywork5{
	
	margin-top:20rem;
	margin-left:15rem;

	.imgfloat{
		margin-left:10rem;
	}

	p{
		margin-top:13rem;
		margin-left:16rem;
	}
}

.mywork6{
	
	margin-top:15rem;
	margin-bottom: 10rem;
	margin-left:5rem;

	.imgfloat-photo{
		margin-left:5rem;
	}

	.imgfloat-text{
		margin-left: 15rem;
		margin-top:10rem;
	}
}

//********************About Page********************************


.about-sec{
	text-align:center;
	margin-top:2rem;

	h1{
		position:relative;
		margin-top:105px;
		color:#000;
	}

	img#coffee-photo{
	height:670px;
	margin-left:11px;
	}

	h2{
	position:relative;
	margin-top:110px;
	padding-right:50px;
	color:#000;
	}

	.bio-bg {
	width:30.5rem;
	height:670px;
	font-size:1rem;
	text-align: left;
	padding:10px;
	background-color:lightblue;

		p{
			padding-top:13px;
		}
	}
}

.education {

	text-align:center;
	padding:10px;
	border:3px solid #000; 
}

.experience {

	padding:10px;
	background:lightblue; 

	h5{
		text-align:center;
	}

	span{
		font-weight:bolder;
	}
}

.awards{
	text-align:center;
	padding:10px;
	border:3px solid #000;
}

footer{
	position:relative;
	background:#000;
	text-align:center;
	width:100vw;
	padding:20px;
}
footer p{
	color:#fff;
	font-size:1.5rem;

	a{
		color:#fff;
	}

	a:hover{
		text-decoration:none;
		color:lightblue;
	}
}

@media(max-width: 850px){
	.header p{
		font-size:1.9rem;
		top:5rem;
		font-weight:600;
	}

	#overlay-text p{

		font-size: 1.4rem;
		top:9.1rem;
		padding:2rem;
	}

	#fox-32-sec{

	#akilah{

		width: 20rem;
		box-shadow: none;

		p{
			font-size: 1rem;
		}
	}
	}

	#windy-city-sec{

	margin-top:25rem;

	.windy-city-text{	
	box-shadow:none;
	top:1rem;
	}

	#securing {
	box-shadow:none;
}

	#dr-wells{
		margin-bottom:0;
		padding-bottom:0;
	}

	}

	.channel-7{

		margin-top:0;

		#abc-7-photo{
	    position:relative;
	    top:-5rem;
}

		.channel-7-text{
			position:relative;
			top: -12.5rem;
			height:80vh;
			width:100%;

}
	}

	.myportfolio{
	
		position:relative;
		top:20rem;
	}

	footer{
		position:relative;
		top:20rem;
		width:100%;
	}
}
